* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-family: Sen;
}

:root {
	--accent: rgb(71, 41, 206);
	--accent2: rgb(197, 30, 85);
	--bg: rgb(25, 26, 29);
	--bg-alt: rgb(30, 31, 35);
	--text: rgb(240, 240, 240);
	--text-alt: rgb(170, 170, 170);
	--radius: 25px;
	--lightest: 0.075;
	--light: 0.1;
	--dark: 0.125;
	--darkest: 0.175;
	--close-shadow: 0 2px 6px rgba(0, 0, 0, var(--lightest)), 0 8px 14px rgba(0, 0, 0, var(--light));
	--distant-shadow: 0 2px 6px rgba(0, 0, 0, var(--dark)), 0 12px 20px rgba(0, 0, 0, var(--darkest));
	--transition: color 0.25s, background-color 0.25s, box-shadow 0.25s, transform 0.2s, opacity 0.25s;
}

body {
	min-height: 100vh;
	background-color: var(--bg);
}

header {
	min-height: 120px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.box {
	border-radius: var(--radius);
	box-shadow: var(--close-shadow);
	transition: var(--transition);
}

#logo {
	height: 80px;
	margin: 5px 20px;
	padding: 0 20px;
	cursor: pointer;
	filter: invert(0.6);
	transition: transform 0.2s, filter 0.25s;
	animation: 1.5s grow;
}

#logo:hover {
	filter: invert(1);
}

#tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tab {
	margin: 5px 40px;
	padding: 10px;
	position: relative;
	cursor: pointer;
	user-select: none;
	list-style: none;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	color: var(--text-alt);
	transition: var(--transition);
}

.tab:nth-child(1) {
	animation: 1s fade-in;
}
.tab:nth-child(2) {
	animation: 0.25s hidden, 0.5s move-in 0.25s;
}
.tab:nth-child(3) {
	animation: 0.5s hidden, 0.5s move-in 0.5s;
}

.tab:after {
	content: '';
	height: 4px;
	width: 40px;
	position: absolute;
	bottom: 1px;
	left: calc(50% - 20px);
	display: block;
	border-radius: 2px;
	background-color: var(--accent2);
	transform: scaleX(0);
	opacity: 0;
	transition: background-color 0.25s, transform 0.3s, opacity 0.25s;
}

.tab.selected,
.tab:hover {
	color: var(--text);
	transform: translateY(-6px);
}

.tab:hover:after {
	transform: scaleX(0.8);
	opacity: 1;
}

.tab.selected:after{
	background-color: var(--accent);
	transform: scaleX(1.2);
	opacity: 1;
}

#logo:active,
.tab:active {
	transform: scale(0.85);
}

#content {
	display: flex;
	justify-content: center;
}

#content > * {
	width: 1200px;
	max-width: 80vw;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes move-in {
	from {
		transform: translateY(70px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes grow {
	from {
		transform: scale(0.9);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes hidden {
	from, to {
		opacity: 0;
	}
}
